.square {
    width: 24px;
    height: 24px;
}

.closed {
    
    &.square {

        background-color: #c0c0c0;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #808080;
        border-bottom-color: #808080;
    }
}

.opened {

    &.square {
        background-color: #bebebe;
        border: 2px solid #828282;
    }

}

.mines {

    &.square.opened {
        background-image: url("http://43.138.104.32:80/global-assets/img/study/mines-mines2.png");
        background-size: contain;
        background-color: red;
    }

}