.square {
    width: 24px;
    height: 24px;
}

.closed {
    
    &.square {

        background-color: #c0c0c0;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #808080;
        border-bottom-color: #808080;
    }
}

.opened {

    &.square {
        background-color: #bebebe;
        border: 2px solid #828282;
    }

    &.minecount1::after {
        content: "1";
        color: rgb(0, 0, 255);
        font-weight: bold;
    }

    &.minecount2::after {
        content: "2";
        color: rgb(0, 128, 0);
        font-weight: bold;
    }

    &.minecount3::after {
        content: "3";
        color: rgb(255, 0, 0);
        font-weight: bold;
    }

    &.minecount4::after {
        content: "4";
        color: rgb(3, 1, 125);
        font-weight: bold;
    }

    &.minecount5::after {
        content: "5";
        color: rgb(127, 1, 1);
        font-weight: bold;
    }

    &.minecount6::after {
        content: "6";
        color: rgb(8, 8, 125);
        font-weight: bold;
    }

    &.minecount7::after {
        content: "7";
        color: rgb(128, 0, 128);
        font-weight: bold;
    }

    &.minecount8::after {
        content: "8";
        color: rgb(255, 0, 255);
        font-weight: bold;
    }

}

.mines {

    &.square.opened {
        background-image: url("http://43.138.104.32:80/global-assets/img/study/mines-mines2.png");
        background-size: contain;
        background-color: red;
    }

}