.time-line-height {
    min-height: calc(100vh - 146px);
}

.row-height {
    min-height: 345px;
}


.time-pointer {

    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;

    .sperator-line {
        flex-grow: 1;

        > div {
            display: inline-block;
            height: 100%;
            border: 1px dashed #f3f3f3;
        }
    }

    .round-point {
        flex-grow: 0;
        position: relative;

        > button {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }

        @media (max-width: 768px) {
            > button {
                width: 18px;
                height: 18px;
            }
        }

        @media (max-width: 992px) {
            > button {
                width: 26px;
                height: 26px;
            }
        }


    }

}

.content-card {
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.time-record {
    height: 100%;
    text-align: right;

    &.opposite {
        text-align: left;
    }

    .content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    } 
}